<!-- <app-first></app-first> -->
<!-- <app-users></app-users> -->
<header>
    <h1>Testing DI</h1>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/alphabetGame" routerLinkActive="active-link">Alphabet Game</a></li>
            <li><a routerLink="/nonLazyFeature" routerLinkActive="active-link">NonLazyFeature</a></li>
            <li><a routerLink="/lazyFeature" routerLinkActive="active-link">LazyFeature</a></li>
            <li><a routerLink="/lazyFeatureTwo" routerLinkActive="active-link">LazyFeatureTwo</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>