header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
}

.active-link {
    color: aqua;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black
}